<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mponline.contentconfig.databases.mapper.ChatRoomMapper">
  <resultMap id="BaseResultMap" type="com.mponline.contentconfig.databases.entity.ChatRoom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="ref_service_id" jdbcType="INTEGER" property="refServiceId" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="nurse_id" jdbcType="VARCHAR" property="nurseId" />
    <result column="aid_id" jdbcType="VARCHAR" property="aidId" />
    <result column="lose_date" jdbcType="VARCHAR" property="loseDate" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="operation_code" jdbcType="VARCHAR" property="operationCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="nurse_name" jdbcType="VARCHAR" property="nurseName" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="aid_name" jdbcType="VARCHAR" property="aidName" />
    <result column="nearly_msg" jdbcType="VARCHAR" property="nearlyMsg" />
    <result column="nearly_msg_time" jdbcType="VARCHAR" property="nearlyMsgTime" />
    <result column="hospital_code" jdbcType="VARCHAR" property="hospitalCode" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, create_by, update_by, version, room_id, ref_service_id, 
    patient_id, doctor_id, nurse_id, aid_id, lose_date, operation_id, operation_code, 
    status, doctor_name, nurse_name, patient_name, aid_name, nearly_msg, nearly_msg_time, 
    hospital_code, hospital_name, department_code, department_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.mponline.contentconfig.databases.entity.ChatRoomKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chat_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.mponline.contentconfig.databases.entity.ChatRoomKey">
    delete from chat_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    insert into chat_room (id, create_time, update_time, 
      create_by, update_by, version, 
      room_id, ref_service_id, patient_id, 
      doctor_id, nurse_id, aid_id, 
      lose_date, operation_id, operation_code, 
      status, doctor_name, nurse_name, 
      patient_name, aid_name, nearly_msg, 
      nearly_msg_time, hospital_code, hospital_name, 
      department_code, department_name)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{roomId,jdbcType=VARCHAR}, #{refServiceId,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, 
      #{doctorId,jdbcType=VARCHAR}, #{nurseId,jdbcType=VARCHAR}, #{aidId,jdbcType=VARCHAR}, 
      #{loseDate,jdbcType=VARCHAR}, #{operationId,jdbcType=INTEGER}, #{operationCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{doctorName,jdbcType=VARCHAR}, #{nurseName,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{aidName,jdbcType=VARCHAR}, #{nearlyMsg,jdbcType=VARCHAR}, 
      #{nearlyMsgTime,jdbcType=VARCHAR}, #{hospitalCode,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR}, 
      #{departmentCode,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    insert into chat_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="refServiceId != null">
        ref_service_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="nurseId != null">
        nurse_id,
      </if>
      <if test="aidId != null">
        aid_id,
      </if>
      <if test="loseDate != null">
        lose_date,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="operationCode != null">
        operation_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="nurseName != null">
        nurse_name,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="aidName != null">
        aid_name,
      </if>
      <if test="nearlyMsg != null">
        nearly_msg,
      </if>
      <if test="nearlyMsgTime != null">
        nearly_msg_time,
      </if>
      <if test="hospitalCode != null">
        hospital_code,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
      <if test="departmentCode != null">
        department_code,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="refServiceId != null">
        #{refServiceId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="nurseId != null">
        #{nurseId,jdbcType=VARCHAR},
      </if>
      <if test="aidId != null">
        #{aidId,jdbcType=VARCHAR},
      </if>
      <if test="loseDate != null">
        #{loseDate,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationCode != null">
        #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="nurseName != null">
        #{nurseName,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="aidName != null">
        #{aidName,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsg != null">
        #{nearlyMsg,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsgTime != null">
        #{nearlyMsgTime,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null">
        #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    update chat_room
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="refServiceId != null">
        ref_service_id = #{refServiceId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="nurseId != null">
        nurse_id = #{nurseId,jdbcType=VARCHAR},
      </if>
      <if test="aidId != null">
        aid_id = #{aidId,jdbcType=VARCHAR},
      </if>
      <if test="loseDate != null">
        lose_date = #{loseDate,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationCode != null">
        operation_code = #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="nurseName != null">
        nurse_name = #{nurseName,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="aidName != null">
        aid_name = #{aidName,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsg != null">
        nearly_msg = #{nearlyMsg,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsgTime != null">
        nearly_msg_time = #{nearlyMsgTime,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null">
        department_code = #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    update chat_room
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=VARCHAR},
      ref_service_id = #{refServiceId,jdbcType=INTEGER},
      patient_id = #{patientId,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      nurse_id = #{nurseId,jdbcType=VARCHAR},
      aid_id = #{aidId,jdbcType=VARCHAR},
      lose_date = #{loseDate,jdbcType=VARCHAR},
      operation_id = #{operationId,jdbcType=INTEGER},
      operation_code = #{operationCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      nurse_name = #{nurseName,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      aid_name = #{aidName,jdbcType=VARCHAR},
      nearly_msg = #{nearlyMsg,jdbcType=VARCHAR},
      nearly_msg_time = #{nearlyMsgTime,jdbcType=VARCHAR},
      hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      department_code = #{departmentCode,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.mponline.contentconfig.databases.entity.ChatRoom">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="room_id" jdbcType="VARCHAR" property="roomId" />
    <result column="ref_service_id" jdbcType="INTEGER" property="refServiceId" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="doctor_id" jdbcType="VARCHAR" property="doctorId" />
    <result column="nurse_id" jdbcType="VARCHAR" property="nurseId" />
    <result column="aid_id" jdbcType="VARCHAR" property="aidId" />
    <result column="lose_date" jdbcType="VARCHAR" property="loseDate" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
    <result column="operation_code" jdbcType="VARCHAR" property="operationCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="nurse_name" jdbcType="VARCHAR" property="nurseName" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="aid_name" jdbcType="VARCHAR" property="aidName" />
    <result column="nearly_msg" jdbcType="VARCHAR" property="nearlyMsg" />
    <result column="nearly_msg_time" jdbcType="VARCHAR" property="nearlyMsgTime" />
    <result column="hospital_code" jdbcType="VARCHAR" property="hospitalCode" />
    <result column="hospital_name" jdbcType="VARCHAR" property="hospitalName" />
    <result column="department_code" jdbcType="VARCHAR" property="departmentCode" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, create_time, update_time, create_by, update_by, version, room_id, ref_service_id, 
    patient_id, doctor_id, nurse_id, aid_id, lose_date, operation_id, operation_code, 
    status, doctor_name, nurse_name, patient_name, aid_name, nearly_msg, nearly_msg_time, 
    hospital_code, hospital_name, department_code, department_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.mponline.contentconfig.databases.entity.ChatRoomKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chat_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.mponline.contentconfig.databases.entity.ChatRoomKey">
    delete from chat_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    insert into chat_room (id, create_time, update_time, 
      create_by, update_by, version, 
      room_id, ref_service_id, patient_id, 
      doctor_id, nurse_id, aid_id, 
      lose_date, operation_id, operation_code, 
      status, doctor_name, nurse_name, 
      patient_name, aid_name, nearly_msg, 
      nearly_msg_time, hospital_code, hospital_name, 
      department_code, department_name)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{roomId,jdbcType=VARCHAR}, #{refServiceId,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, 
      #{doctorId,jdbcType=VARCHAR}, #{nurseId,jdbcType=VARCHAR}, #{aidId,jdbcType=VARCHAR}, 
      #{loseDate,jdbcType=VARCHAR}, #{operationId,jdbcType=INTEGER}, #{operationCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{doctorName,jdbcType=VARCHAR}, #{nurseName,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{aidName,jdbcType=VARCHAR}, #{nearlyMsg,jdbcType=VARCHAR}, 
      #{nearlyMsgTime,jdbcType=VARCHAR}, #{hospitalCode,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR}, 
      #{departmentCode,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    insert into chat_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="refServiceId != null">
        ref_service_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="nurseId != null">
        nurse_id,
      </if>
      <if test="aidId != null">
        aid_id,
      </if>
      <if test="loseDate != null">
        lose_date,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="operationCode != null">
        operation_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="nurseName != null">
        nurse_name,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="aidName != null">
        aid_name,
      </if>
      <if test="nearlyMsg != null">
        nearly_msg,
      </if>
      <if test="nearlyMsgTime != null">
        nearly_msg_time,
      </if>
      <if test="hospitalCode != null">
        hospital_code,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
      <if test="departmentCode != null">
        department_code,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="refServiceId != null">
        #{refServiceId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="nurseId != null">
        #{nurseId,jdbcType=VARCHAR},
      </if>
      <if test="aidId != null">
        #{aidId,jdbcType=VARCHAR},
      </if>
      <if test="loseDate != null">
        #{loseDate,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationCode != null">
        #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="nurseName != null">
        #{nurseName,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="aidName != null">
        #{aidName,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsg != null">
        #{nearlyMsg,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsgTime != null">
        #{nearlyMsgTime,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null">
        #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    update chat_room
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="refServiceId != null">
        ref_service_id = #{refServiceId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        patient_id = #{patientId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="nurseId != null">
        nurse_id = #{nurseId,jdbcType=VARCHAR},
      </if>
      <if test="aidId != null">
        aid_id = #{aidId,jdbcType=VARCHAR},
      </if>
      <if test="loseDate != null">
        lose_date = #{loseDate,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationCode != null">
        operation_code = #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="nurseName != null">
        nurse_name = #{nurseName,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        patient_name = #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="aidName != null">
        aid_name = #{aidName,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsg != null">
        nearly_msg = #{nearlyMsg,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsgTime != null">
        nearly_msg_time = #{nearlyMsgTime,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        hospital_name = #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null">
        department_code = #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    update chat_room
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER},
      room_id = #{roomId,jdbcType=VARCHAR},
      ref_service_id = #{refServiceId,jdbcType=INTEGER},
      patient_id = #{patientId,jdbcType=INTEGER},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      nurse_id = #{nurseId,jdbcType=VARCHAR},
      aid_id = #{aidId,jdbcType=VARCHAR},
      lose_date = #{loseDate,jdbcType=VARCHAR},
      operation_id = #{operationId,jdbcType=INTEGER},
      operation_code = #{operationCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      doctor_name = #{doctorName,jdbcType=VARCHAR},
      nurse_name = #{nurseName,jdbcType=VARCHAR},
      patient_name = #{patientName,jdbcType=VARCHAR},
      aid_name = #{aidName,jdbcType=VARCHAR},
      nearly_msg = #{nearlyMsg,jdbcType=VARCHAR},
      nearly_msg_time = #{nearlyMsgTime,jdbcType=VARCHAR},
      hospital_code = #{hospitalCode,jdbcType=VARCHAR},
      hospital_name = #{hospitalName,jdbcType=VARCHAR},
      department_code = #{departmentCode,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    insert into chat_room (id, create_time, update_time, 
      create_by, update_by, version, 
      room_id, ref_service_id, patient_id, 
      doctor_id, nurse_id, aid_id, 
      lose_date, operation_id, operation_code, 
      status, doctor_name, nurse_name, 
      patient_name, aid_name, nearly_msg, 
      nearly_msg_time, hospital_code, hospital_name, 
      department_code, department_name)
    values (#{id,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateBy,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, 
      #{roomId,jdbcType=VARCHAR}, #{refServiceId,jdbcType=INTEGER}, #{patientId,jdbcType=INTEGER}, 
      #{doctorId,jdbcType=VARCHAR}, #{nurseId,jdbcType=VARCHAR}, #{aidId,jdbcType=VARCHAR}, 
      #{loseDate,jdbcType=VARCHAR}, #{operationId,jdbcType=INTEGER}, #{operationCode,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{doctorName,jdbcType=VARCHAR}, #{nurseName,jdbcType=VARCHAR}, 
      #{patientName,jdbcType=VARCHAR}, #{aidName,jdbcType=VARCHAR}, #{nearlyMsg,jdbcType=VARCHAR}, 
      #{nearlyMsgTime,jdbcType=VARCHAR}, #{hospitalCode,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR}, 
      #{departmentCode,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mponline.contentconfig.databases.entity.ChatRoom">
    insert into chat_room
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="refServiceId != null">
        ref_service_id,
      </if>
      <if test="patientId != null">
        patient_id,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="nurseId != null">
        nurse_id,
      </if>
      <if test="aidId != null">
        aid_id,
      </if>
      <if test="loseDate != null">
        lose_date,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
      <if test="operationCode != null">
        operation_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
      <if test="nurseName != null">
        nurse_name,
      </if>
      <if test="patientName != null">
        patient_name,
      </if>
      <if test="aidName != null">
        aid_name,
      </if>
      <if test="nearlyMsg != null">
        nearly_msg,
      </if>
      <if test="nearlyMsgTime != null">
        nearly_msg_time,
      </if>
      <if test="hospitalCode != null">
        hospital_code,
      </if>
      <if test="hospitalName != null">
        hospital_name,
      </if>
      <if test="departmentCode != null">
        department_code,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="refServiceId != null">
        #{refServiceId,jdbcType=INTEGER},
      </if>
      <if test="patientId != null">
        #{patientId,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="nurseId != null">
        #{nurseId,jdbcType=VARCHAR},
      </if>
      <if test="aidId != null">
        #{aidId,jdbcType=VARCHAR},
      </if>
      <if test="loseDate != null">
        #{loseDate,jdbcType=VARCHAR},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
      <if test="operationCode != null">
        #{operationCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
      <if test="nurseName != null">
        #{nurseName,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null">
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="aidName != null">
        #{aidName,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsg != null">
        #{nearlyMsg,jdbcType=VARCHAR},
      </if>
      <if test="nearlyMsgTime != null">
        #{nearlyMsgTime,jdbcType=VARCHAR},
      </if>
      <if test="hospitalCode != null">
        #{hospitalCode,jdbcType=VARCHAR},
      </if>
      <if test="hospitalName != null">
        #{hospitalName,jdbcType=VARCHAR},
      </if>
      <if test="departmentCode != null">
        #{departmentCode,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>